*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav{
    position: fixed;
    width: 100%;
    height: 50px;
    vertical-align: middle;
    background-color: #404EED;
    padding: 1rem;
    display:flex;
    align-items: center;

}


li{
    line-height: 100%;
    margin: 0 1rem;

    vertical-align: bottom;
    display: inline-block;
}

nav div,ul{
    text-align: center;
    float: left;
    
}

nav div{
    width: 25%;
    display: inline-block;
}



nav  div:first-child{
    min-width: 120px;
}

nav ul{
    height: 100%;
    list-style: none;
    width: 50%;
    min-width: 524px;
}


.btn{
    height: 40px;
    width: 100px;
    color: #000000;
    background-color: #ffffff;
    font-size: 15px;
    border: 1px solid #2d63c8;
    border-radius: 80px;
    cursor: pointer

}



